<section>
    <h2 class="section-title">Enter Transactions</h2>
    <form class="form">
        <label class="form-label">Income: <input class="form-input" type="radio" [(ngModel)]="formData.trxType" value="Income" [ngModelOptions]="{standalone: true}"></label>
        <label class="form-label">Expense: <input class="form-input" type="radio" [(ngModel)]="formData.trxType"value="Expense" [ngModelOptions]="{standalone: true}"></label>
        <label class="form-label">Amount: <input autofocus class="form-input" type="number" min="0" [(ngModel)]="formData.amount" [ngModelOptions]="{standalone: true}"></label>
        <label class="form-label">Description: <input class="form-input" type="text" [(ngModel)]="formData.description" [ngModelOptions]="{standalone: true}"></label>
        <input class="form-submit" type="button" value="Save Transaction" (click)="addTrx()">
    </form>
</section>


<section>
    <h2 class="section-title">Current Balance</h2>
    <div class="balance">
        <p class="balance-currency">COP</p>
        <p class="balance-amount" id="currentBalance">{{currentBalance}}</p>
    </div>
</section>


<section>
    <h2 class="section-title">Registered Transactions</h2>
    <div class="transactions">
        <table class="transactions-table">
            <tr class="transactions-table-header">
                <th>N.</th>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Notes</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            <tr class="transactions-table-data" *ngFor="let transaction of allTransactions">
                <td>{{transaction.number}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.type}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.description}}</td>
                <td><a href="/basic-trx">Delete</a></td>
                <td>Edit</td>
            </tr>
        </table>

        
    </div>
</section>