<div class="container mt-3">
    <div class="mb-5">
        <h3 class="section-title">Current Balance</h3>
        <div class="balance">
            <p class="balance-currency">COP ${{currentBalance}}</p>
        </div>
    </div>


    <div class="mb-5">
        <h3 class="section-title">Enter Transactions</h3>
        <form>
            <div class="row">
                <div class="form-group col-2">
                    <label>Transacion Type</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="form-radio-income" type="radio" [(ngModel)]="formData.trxType" value="Income" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="form-radio-income">Income</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="form-radio-expense" type="radio" [(ngModel)]="formData.trxType"value="Expense" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="form-radio-income">Expense</label>
                    </div>
                </div>
                <div class="form-group col-2 mr-5">
                    <label for="form-amount">Amount</label>
                    <input autofocus required class="form-control" id="form-amount" type="number" min="0" [(ngModel)]="formData.amount" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col">
                    <label for="form-description">Description</label>
                    <input required class="form-control" id="form-description" type="text" [(ngModel)]="formData.description" [ngModelOptions]="{standalone: true}">
                </div>

            </div>
            <div class="form-group">
                <input class="btn btn-primary mr-2" type="button" value="Add Transaction" (click)="addTrx()">
                <input class="btn btn-primary mr-2" type="button" value="Update Transaction" (click)="updateTrx()">
            </div>
        </form>
    </div>


    <div class="mb-5">
        <h3 class="section-title">Registered Transactions</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of allTransactions">
                        <ng-container *ngIf="transaction.hidden !== true">
                            <td>{{transaction.date}}</td>
                            <td>{{transaction.type}}</td>
                            <td>{{transaction.amount}}</td>
                            <td>{{transaction.description}}</td>
                            <td>
                                <svg (click)="editTrx(transaction)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="blue" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                            </td>
                            <td>
                                <svg (click)="deleteTrx(transaction)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                </svg>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
                
            

        </div>

        <p><a class="btn btn-primary mr-2" href="/home">Back to home</a></p>
        <input class="btn btn-primary mr-2" type="button" value="Logout" (click)="logout()">
</div>